# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
out/
*.log

# Maven
target/

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# System Files
.DS_Store
Thumbs.db

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
node_modules/
